[Unit]
Description=uWSGI
After=syslog.target

[Service]
WorkingDirectory=/opt/nagrest
#WorkingDirectory=/opt/instance1/nagrest
#WorkingDirectory=/opt/instance2/nagrest

ExecStart=/usr/local/bin/uwsgi --ini /opt/nagrest/contrib/uwsgi.ini
#ExecStart=/usr/local/bin/uwsgi --ini /opt/instance1/nagrest/contrib/uwsgi.ini
#ExecStart=/usr/local/bin/uwsgi --ini /opt/instance2/nagrest/contrib/uwsgi.ini

ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -9 $MAINPID
# Requires systemd version 211 or newer
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
